body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    text-align: center;
}

form {
    max-width: 100%;
    width: 100%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #22427C;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #22427C;
}

header {
    padding: 20px 10px;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.image-container {
    flex: 1;
    text-align: center;
}

img.atia {
    max-width: 100%;
    height: auto;
}

.text-container {
    flex: 2;
    text-align: right;
}

.txtt {
    font-family: "Open Sans", sans-serif;
    font-weight: medium;
    font-size: 16px;
    text-decoration: none;
    color: #2b2b2b;
    margin: 0 8px;
}

a:hover {
    color: #000;
    text-decoration: underline;
}

.ftxt {
    color: White;
    text-align: center;
    font-family: "Open Sans";
    font-size: 20px;
}

.lol {
    background-color: #2b2b2b;
    position: relative;
}

footer {
    background-color: #4b4f5a;
    padding: 0px 0;
    text-align: center;
    padding-top: 30px;
}

.footer-column {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    margin: 0 10px;
    box-sizing: border-box;
}

.footer-column h3 {
    font-size: 22px;
    margin-bottom: 10px;
    color: White;
    text-decoration: Underline;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
    color: White;
}

.footer-column ul li {
    margin-bottom: 5px;
}

.footer-column ul li a {
    text-decoration: none;
    color: #ffffff;
    display: block;
